.hero {
    padding-top: 74px;
    padding-bottom: 76px;

}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    color: #36536B;
    max-width: 546px;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    /* 100% */
    letter-spacing: -0.554px;
    padding-bottom: 21px;
}

.hero__text {
    color: #6C8294;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
}

.hero__text_span {
    font-weight: 700;
    text-decoration-line: underline;
}

/*Clearing Floats*/
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* Form wrapper styling */

.search-wrapper {
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: transparent;


}

/* Form text input */

.search-wrapper input {
    padding-left: 20px;
    width: 342px;
    height: 48px;
    padding: 10px 5px;
    float: left;
    border: 0;
    background: #FBFCFE;
    border-radius: 24px;
    border-top-style: none;

}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: normal;
    padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {

    color: #999;
    font-weight: normal;
    font-style: normal;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: normal;
    border-style: none;
}

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 48px;
    width: 202px;
    color: #FBFCFE;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    text-transform: uppercase;
    border-radius: 24px;
    background: #BA4270;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:active,
.search-wrapper button:focus {
    background: #198cff;
    outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
    border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
    /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.hero__img {
    width: 550px;
    height: 500px;
    flex-shrink: 0;
}

@media screen and (max-width:1140px) {
    .hero {
        padding-top: 48px;
    }

    .hero__container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero__img {
        width: 300px;
        height: 300px;
        padding-bottom: 100px;
    }





    .hero__title {
        width: 573px;
        height: 122px;
        font-size: 48px;
        line-height: 56px;
        /* 116.667% */
        letter-spacing: -0.369px;
        padding-bottom: 22px;
    }

    .search-wrapper {
        margin-bottom: 16px;
    }
}

@media screen and (max-width:991px) {
    .hero {
        padding-top: 32px;

    }

    .hero__title {
        max-width: 327px;
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
        line-height: 36px;
        /* 112.5% */
        letter-spacing: -0.246px;
        padding-bottom: 24px;
    }
    .search-wrapper {
        margin-bottom: 16px;
        flex-direction: column;
    }

    .search-wrapper input {

        width: 342px;
    }

    .search-wrapper button {
        width: 342px;
    }

}