.personal {
    padding-top: 145px;
}

.personal__list {
    max-width: 350px;
    text-align: center;

    &::before {
        content: "";
        width: 106px;
        height: 106px;
        flex-shrink: 0;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-image: url("../../img/card-1.svg");
        background-position: center;
        display: block;
    }
}

.personal__title {
    color: #36536B;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: -0.138px;
}

.personal__text {
    color: #6C8294;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    letter-spacing: -0.115px;
}

.personal__list:nth-child(2) {
    max-width: 350px;
    text-align: center;

    &::before {
        content: "";
        width: 106px;
        height: 106px;
        flex-shrink: 0;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-image: url("../../img/card-2.svg");
        background-position: center;
        display: block;
    }
}

.personal__list:nth-child(3) {
    max-width: 350px;
    text-align: center;

    &::before {
        content: "";
        width: 106px;
        height: 106px;
        flex-shrink: 0;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-image: url("../../img/card-3.svg");
        background-position: center;
        display: block;
    }
}

.personal__block {
    display: flex;
    gap: 30px;
}

@media screen and (max-width:830px) {
    .personal{
        padding-top: 80px;
    }

    .personal__list {
        max-width: 328px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 48px;

    }

    .personal__block {
        flex-direction: column;
    }

}